<!-- Card Temperature -->
<div class="col-12 py-4">
    <div class="card">
        <div class="card-header">
          Temperatura
        </div>
        <div class="card-body text-center">
            <h2> {{ _firebaseService.currentData.tem }} <small>ºC</small> </h2>
        </div>
        <div class="card-footer text-muted text-center">
            {{ _firebaseService.currentData.time | date:'medium' : "UTC" }}
          </div>
      </div>
</div>

<!-- Card Humidity -->
<div class="col-12 py-4">
  <div class="card">
      <div class="card-header">
        Humedad
      </div>
      <div class="card-body text-center">
          <h2> {{ _firebaseService.currentData.hum }} <small>%HR</small> </h2>
      </div>
      <div class="card-footer text-muted text-center">
          {{ _firebaseService.currentData.time | date:'medium' : "UTC" }}
        </div>
    </div>
</div>