<!-- Title -->
<div class="row justify-content-center title py-5">
    <div class="col-8 text-center">
        <h2>Dashboard estación movil departamento de Fisica</h2>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-10 col-md-4">
        <!-- Colum cards -->
        <div class="12">
            <component-card></component-card>
        </div>
        <div class="12">
            <component-card></component-card>
        </div>
    </div>
    <div class="col-10 col-md-6">
        <h4 class="text-center py-3 title2"> Gráfico últimas 24 horas</h4>
        <graph-line></graph-line>
    </div>
    
</div>
