<!-- Title -->
<div class="row justify-content-center title py-3">
    <div class="col-12 col-md-10 text-center">
        <h2>Dashboard estación movil para Laboratorio de investigación aplicada con tecnologías atómicas y nucleares</h2>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-10 col-md-4">
        <!-- Colum cards -->
        <div class="12">
            <component-card></component-card>
        </div>
    </div>
    <div class="col-10 col-md-6 text-center">
        <h4 class="py-3 title2"> Gráfico últimas 24 horas</h4>
        <graph-line></graph-line>
    </div>
</div>

<div class="row justify-content-center text-center">
    <div class="col-10">
        <h4 class="py-3 title2"> Tabla de datos con las últimas 24 horas</h4>
        <component-table></component-table>
    </div>
</div>
