/* You can add global styles to this file, and also import other style files */

html, body {
    min-height: 100vh;
    height: auto;
    margin: 0;
}

.title {
    color: white;
    background-color: gray;
}

.title2 {
    color: gray;
    background-color: white;
    border-color: gray;
}

#container {
    height: 100vh;
    background-color: white;
    color: black;
}